
/* Checkout products css */

.checkout_product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout_product_info {
    padding-left: 20px;
	margin-left: 20px;
}

.checkout_product_info p{
	margin-bottom: 17px;
}

.checkout_product_title {
    font-size: 16px;
    font-weight: 800;
}

.checkout_product_image {
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.checkout_product button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}