.app {
    min-width: 750px;
}

.notice_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: fit-content;
}

.notice_details p a{
	text-decoration-line: none;
}

.notice {
	margin: 15px;
}

.notice a {
	margin: 15px;
	text-decoration-line: none;
}