:host(app-product) {
    flex: 1 1 0;
	width: 250px;
	z-index: 1;
	transition: all 0.4s ease-in-out;
}

:host(app-product):hover {
	transform: scale(0.95, 0.95);
	box-shadow: 0 5px 10px #111;
	border-radius: 7px;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: white;
    z-index: 1;
    cursor: pointer;
	border-radius: 7px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.product_info {
    margin-bottom: 15px;
	height: 15vh;
	font-weight: bold;
}

.product_price {
    margin-top: 5px;
}

.product_rating {
    display: flex;
    color: #f0c14b;
}

.rating_value{
    margin-left: 10px;
    color: black;
}

.product img {
	height: 125px;
    object-fit: contain;
    margin-left: 10px;
}

.product button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 20px;
	align-self: center;
	width: fit-content;
    padding: 4px 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
	cursor: pointer;
}